@model IEnumerable<Phase_1.Models.Product>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/ProjectViews/_ProjectLayout.cshtml";
}

<!-- product list part start-->
<section class="product_list section_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="product_sidebar">
                    <div class="single_sedebar">
                        <div class="select_option">
                            <div class="select_option_list">Category <i class="right fas fa-caret-down"></i> </div>
                            <div class="select_option_dropdown">
                                <p> @Html.ActionLink("Men", "Filter", new { Id = 1 })</p>
                                <p> @Html.ActionLink("Women", "Filter", new { Id = 2 })</p>
                                <p> @Html.ActionLink("Shoes", "Filter", new { Id = 3 })</p>
                                <p> @Html.ActionLink("Necklas", "Filter", new { Id = 4 })</p>
                                <p> @Html.ActionLink("Rings", "Filter", new { Id = 5 })</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="product_list">
                    <div class="row">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="~/Images/@item.Image" alt="#" class="img-fluid" style="width:200px;height:150px">
                                        <h3>

                                            @Html.ActionLink(@item.Name, "ProductDetails", null, new { Id = item.Id }, null)
                                        </h3>
                                        <p>@item.Price$</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product list part end-->
<!-- feature part here -->
<section class="feature_part section_padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="feature_part_tittle">
                    <h3>
                        Credibly innovate granular
                        internal or organic sources
                        whereas standards.
                    </h3>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="feature_part_content">
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources. Credibly innovate granular internal or “organic” sources whereas high standards in web-readiness.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="~/Images/feature_icon_1.svg" alt="#">
                    <h4>Credit Card Support</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="~/Images/feature_icon_2.svg" alt="#">
                    <h4>Online Order</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="~/Images/feature_icon_3.svg" alt="#">
                    <h4>Free Delivery</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="~/Images/feature_icon_4.svg" alt="#">
                    <h4>Product with Gift</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature part end -->
<!-- subscribe part here -->
<section class="subscribe_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content">
                    <h2>Get promotions & updates!</h2>
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources credibly innovate granular internal .</p>
                    <div class="subscribe_form">
                        <input type="email" placeholder="Enter your mail">
                        <a href="#" class="btn_1">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe part end -->